<div class="container">
  <form class="col s12 reg-form blue-text text-darken-2" method="POST" action="/login" name="logForm" autocomplete="off">
    <div class="column">
      <div class="input-field col s6">
        <input placeholder="Username" name="username" id="first_name" type="text" class="validate blue-grey lighten-2">
        <div id="unameErr">

        </div>
      </div>

      <div class="input-field col s6">
        <input placeholder="Password" name="password" id="password" type="password"
          class="validate blue-grey lighten-2">
          <div id="pwordErr">

          </div>
      </div>
      <div>
      <button class="waves-effect waves-light btn-small blue-grey darken-2">Log In</button>
      <a class="waves-effect waves-light btn-small blue-grey darken-2" href="/">Back</a>
      </div>
    </div>
  </form>
</div>

<script defer src="/js/login.js"></script>
